#root {
  text-align: center;
}

.container-expenses-tracker{
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.btn-expense-tracker{
  padding: 10px;
  border-radius: 10px;
  margin: 10px; 
}

.container-input-expenses-tracker{
  padding: 10px;
  border-radius: 10px; 
}

.list-expense-container{
  background-color: aquamarine;
  list-style: none;
  width: fit-content;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
}
